[submodule "lantern-server/lib/websocketpp"]
	path = lantern-server/lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "lantern-server/lib/shairplay"]
	path = lantern-server/lib/shairplay
	url = https://github.com/juhovh/shairplay
[submodule "lantern-server/lib/Gist"]
	path = lantern-server/lib/Gist
	url = https://github.com/patternleaf/Gist.git
[submodule "lantern-server/lib/Simple-Web-Server"]
	path = lantern-server/lib/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server.git
