

@channel-height: 42px;
@knob-size: 20px;
@half-knob-size: @knob-size / 2;
@track-height: 3px;
@remote-level-height: 6px;
@remote-level-color: rgb(226, 184, 107);

ul.channels {
    padding: 0;
    list-style: none;
}

li.channel {
    margin: 1em 0 0 0;
    width: 100%;
    h2 {
        padding: 0;
        margin: 0;
        font-size: 1.2em;
        color: #777;
    }
}

.async-fader {
    width: 100%;
    height: @channel-height;
    position: relative;
    background: #bbb;

    .knob {
        width: @knob-size;
        height: @knob-size;
        transform: translate(-@half-knob-size, 0);
        border-radius: 10px;
        background: rgb(141, 141, 190);
        border: 1px solid rgb(109, 109, 139);
        position: absolute;
        top: (@channel-height / 2) - (@knob-size / 2);
    }

    .track {
        position: absolute;
        width: 100%;
        left: 0;
        top: (@channel-height / 2) - (@track-height / 2);
        height: @track-height;
        background: #444;
        //border-bottom: 1px solid #777;
    }

    .remote-level {
        position:absolute;
        left: 0;
        top: (@channel-height / 2) - (@remote-level-height / 2);
        height: @remote-level-height;
        background: @remote-level-color;
        opacity: 0.6;
        box-shadow: 0 0 5px @remote-level-color;
    }
}